@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-bg-neutral;
}

@layer base {
    @font-face {
        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/Oxygen-Bold.ttf') format('truetype');
    }
}